<div id="main">
  <% if flash[:notice] %>
    <div class="alert alert__success"><%= flash[:notice] %></div>
  <% elsif flash[:alert]%>
    <div class="alert alert__delete"><%= flash[:alert] %></div>
  <% end %>
  
  <h2>予約一覧</h2>
# 予約順に並べる
  <% if @reservations.size == 0 %>
    <p>現在登録はありません</p>
  <% end %>

  <div class="row row-cols-4 roomlist">
    <% @reservations.each do |reservation| %>
      <% room = Room.find_by(id: reservation.room_id) %>
        <%
        if room != nil
          room_name = room.name
          room_address = room.address
        else
          room_name = "削除されたホテル"
          room_address = "-"
        end
        %>
      <div class="col">
        <div class="card h-100">
          <img src="/assets/slideshow_01_s.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= room_name %></h5>
            <p class="card-text room-address"><%= room_address %></p>
            <p class="card-text">宿泊人数：<%= reservation.member %>人</p>
            <p class="card-text">
              <%= (reservation.date_end.to_date - reservation.date_start.to_date).to_i %>泊：
              <%= reservation.price.to_s(:delimited) %>円
            </p>
            <p class="card-text">チェックイン：<%= reservation.date_start.to_s(:datetime_jp_t) %><br>
            チェックアウト：<%= reservation.date_end.to_s(:datetime_jp_t) %></p>
          </div>
          <div class="card-body">
            <%= link_to "部屋詳細", room, class: "card-link" %>
            <%= link_to "キャンセル", user_room_path(id:reservation.id), method: :delete, data: { confirm: "本当にキャンセルしますか？" },  class: "card-link" %>
          </div>
        </div>
      </div>
    <% end #each end %>
  </div><!--roomlist end-->
</div><!--main end-->