<% if flash[:notice] %>
  <p class="alert alert__success"><%= flash[:notice] %>
<% elsif flash[:alert]%>
  <p class="alert alert__delete"><%= flash[:alert] %>
<% end %>

# 予約しました のメッセージ
# 予約順に並べる

<table>
  <thead>
    <tr>
      <th>施設名</th>
      <th>住所</th>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>宿泊人数</th>
      <th>宿泊費用</th>
      <th>施設詳細</th>
      <th>予約キャンセル</th>
    </tr>
  </thead>

  <tbody>
    <% if @reservations.size == 0 %>
      <tr>
        <td colspan="9">現在登録はありません</td>
      </tr>
    <% end %>

    <% @reservations.each do |reservation| %>
    <% room = Room.find_by(id: reservation.room_id) %>
      <tr>
        <% if room != nil %>
          <td><%= room.name %></td>
          <td><%= room.address %></td>
        <% else %>
          <td>削除されたホテル</td>
          <td>-</td>
        <% end %>
      
        <td><%= reservation.date_start.to_s(:datetime_jp_t) %></td>
        <td><%= reservation.date_end.to_s(:datetime_jp_t) %></td>
        <td><%= reservation.member %></td>
        <td><%= reservation.price %></td>
        <td><%= link_to "確認", room %></td>
        <td><%= link_to "cancel", user_room_path(id:reservation.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>