<!DOCTYPE html>
<html>
  <head>
    <title>AppRoom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <%= form_with url: search_rooms_path, method: :get, local: true do |f| %>
      <%= f.text_field :area, placeholder: "エリア"%>
      <%= f.text_field :name, placeholder: "施設名"%>
      <%= f.submit :search %>
  <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
